@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200&display=swap');

html{
    font-family: 'Poppins', sans-serif;
    background-color: #fcfcfc;
    color: #27122d;
    font-size: 1.5rem;
    padding-bottom: 0;
    max-width: 1400px;
}

main {
    margin: 0 auto;
    max-width: 1400px;
}


@media(min-width: 576px){
    main{
        max-width: 540px;
    }

}

@media(min-width: 768px){
    main{
        max-width: 720px;
    }
}

@media(max-width: 338px){
    img{
            display: none;
    } h1{
        font-size: 1rem;
    } 
}



body{
    margin: 0 auto;
    padding-bottom: 0;
    max-width: 1400px;
}

.projects{
    margin: 0 auto;
    text-align: center;
}

img{
    margin-top: 20px;
}

h1{
    text-align: center;
    align-items: center;
    margin-left: 10px;
}

ul{
    list-style: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}

li{
    text-align: center;
    margin-right: 30px;
    margin-bottom: 10px;
    padding: 10px 0;
}

a.project{
    background-color: #27122d;
    display: inline-block;
    padding: 15px 30px;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    text-align: center;
    font-size: 0.7rem;
    width: 300px;
}

a.project:hover{
    background-color: #1a0422;
    width: 280px;
    transition: 1s ease-in-out;

}


footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: #27122d;
    color: #fff;
    height: 80px;
    padding: 20px 0;
}

footer a.foo{
    background-color: transparent;
    text-align: center;
    font-size: small;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    padding: 0;
    margin: auto;
}

footer p{
    margin-top: 40px;
    margin-bottom: 5px;
    text-align: center;
    font-size: small;
    line-height: 0.1;
}