        /* http://meyerweb.com/eric/tools/css/reset/ 
            v2.0 | 20110126
            License: none (public domain)
        */

        /* RESET CSS */
        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed, 
        figure, figcaption, footer, header, hgroup, 
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }
        /* HTML5 display-role reset for older browsers */
        article, aside, details, figcaption, figure, 
        footer, header, hgroup, menu, nav, section {
            display: block;
        }
        body {
            line-height: 1;
        }
        ol, ul {
            list-style: none;
        }
        blockquote, q {
            quotes: none;
        }
        blockquote:before, blockquote:after,
        q:before, q:after {
            content: '';
            content: none;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
        
        /* ------------------------------------- */

        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200&display=swap');


        *, *::before{
            box-sizing: border-box;
        }

        main{
            margin: 0 auto;
        }

        body{
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            background-color: #fcfcfc;
            color: #27122d;
            font-size: 1.5rem;
        }
        
    #projects{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        max-width: 1400px;
    }

    img{
        margin-top: 20px;
    }

    h1{
        margin-left: 10px;
    }

    ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    li{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-right: 30px;
        margin-bottom: 10px;
        padding: 10px 0;
    }

    a.project{
        background-color: #27122d;
        padding: 15px 30px;
        color: #FFF;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 3px;
        text-align: center;
        font-size: 0.7rem;
        width: 300px;
    }

    a.project:hover{
        background-color: #1a0422;
        width: 280px;
        transition: 1s ease-in-out;

    }

    footer{
        background-color: #27122d;
        width: 100%;
        margin-top: 20px;
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
    }
    
    footer p{
        color: #ffffff;
        font-size: small;
        line-height: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
    
    footer a{
        color: #ffffff;
        font-size: smaller;
        font-weight: 600;
        text-decoration: none;
        text-align: center;
    }
    

    
    @media(min-width: 576px){
        #project{
            max-width: 540px;
        }
        a.project{
            max-width: 540px;
            padding: 20px;
        }
        h1{
            margin: 0 auto;
            font-size: 2rem;
        }
        form{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

    }
    
    @media(min-width: 768px){
        #project{
            max-width: 720px;
            }
            a.project{
                max-width: 720px;
                padding: 20px;
            }
            h1{
                margin: 0 auto;
                font-size: 2rem;
            }
            form{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
            }

    }
    
    @media(max-width: 280px)
    {
        img{
        display: none;
        }
        #project{
        max-width: 240px;
        }
        a.project{
            max-width: 200px;
            padding: 20px;
        }
        h1{
            margin: 0 auto;
            padding: 30px;
            font-size: 1.5rem;
        }
    }